doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class='subheader subheader-top')
        div(class='subheader-cell right-side')
          div(class='w-text-h')
            i(class='glyphicon glyphicon-earphone')
            a(class='w-text-value', href='tel:+441314787222') 0131 478 7222
        div(class='subheader-cell left-side')
      div(class='subheader subheader-bottom')
    block content
